        <!--Hero section-->
        <section class="hero-section">
        
            <div class="hero-box container">
        
                <div class="hero-inner">
                  <div class="hero-title">
                    <h1>Видалення вм’ятин</h1>
                    <h2>без пофарбування</h2>
                  </div>
                    <p>Від 30 хв</p>
                    <p class="hero-text">Швидка безкоштовна консультація, попередня оцінка пошкоджень по фото та запису на послугу.</p>
        
                    <button class="button-primary" type="button" data-modal-open>Безкоштовна консультація</button>
                </div>
            </div>
        
        </section>