
        <!--Our masters section-->

        <section>
        
            <h2 class="section-title">Наші майстри</h2>
    
                <div class="container">
    
                    <div>
                        <picture>
                            <source media="(max-width: 767.98px)"
                                srcset="./img/masters/master_mob.jpg 1x, ./img/masters/master_mob@2x.jpg 2x" width="342" height="418">
                            <source media="(min-width: 768px)"
                                srcset="./img/masters/master_tab.jpg 1x, ./img/masters/master_tab@2x.jpg 2x" width="470" height="800">
                            <source media="(min-width: 1158px)"
                                srcset="./img/masters/master_desk.jpg 1x, ./img/masters/master_desk@2x.jpg 2x" width="622" height="688">
                        
                            <img class="portfolio-photo" src="./img/masters/master_desk@2x.jpg" alt="Фото майстра Кучер Євгенія" width="360">
                        </picture>
    
                        <h2>Кучер Євгеній</h2>
                        <ul>
                            <li>Дворазовий чемпіон України з видалення вм’ятин 2017 та 2019 років (AS PDR -Extreme olimpics 2017 and 2019)</li>
                            <li>Досвід роботи більше 10 років.</li>
                            <li>Засновник та ментор курсу PDR-Expert.</li>
    
                        </ul>
                    </div>
                </div>
    
            </section>