

        <!--Services section-->
        <section class="servises-section">

            <h2 class="section-title">Послуги</h2>
  
              <div class="container">
                  
                          <div class="service-image">
                          
                              <picture>
                                  <source media="(max-width: 767.98px)"
                                      srcset="./img/services/serv1_mob.jpg. 1x, ./img/services/serv1_mob@2x.jpg 2x" width="343" height="418">
                                  <source media="(min-width: 768px)"
                                      srcset="./img/services/serv1_tab.jpg. 1x, ./img/services/serv1_tab@2x.jpg 2x" width="840" height="600">
                                  <source media="(min-width: 1158px)"
                                      srcset="./img/services/serv1_desk.jpg. 1x, ./img/services/serv1_desk@2x.jpg 2x" width="600" height="600">
                          
                                  <img class="portfolio-photo" src="./img/services/serv1_desk@2x.jpg" alt="Видалення вмятин без пофарбування" width="360">
                              </picture>
                              <h3 class="services-title">Видалення вмятин без пофарбування</h3>
                              
                              <div class="service-overlay">
                                  <h3 class="serv-overlay-title">Переваги технології PDR:</h3>
  
                                  <ul class="serv-overlay-list">
                                  
                                  <svg class="mark-icon" width="30" height="30">
                                      <use href="./img/icons.svg#icon-arrow-right"></use>
                                  </svg>
                                      <li class="serv-item">Без фарбування</li>
                                      
                                      <svg class="mark-icon" width="30" height="30">
                                      <use href="./img/icons.svg#icon-arrow-right"></use>
                                  </svg>
                                      <li class="serv-item">Без зварювання</li>
                                      
                                      <svg class="mark-icon" width="30" height="30">
                                      <use href="./img/icons.svg#icon-arrow-right"></use>
                                  </svg>
                                      <li class="serv-item">Без рихтування</li>
                                      
                                      <svg class="mark-icon" width="30" height="30">
                                      <use href="./img/icons.svg#icon-arrow-right"></use>
                                  </svg>
                                      <li class="serv-item">Без заміни деталей кузова</li>
                                      
                                      <svg class="mark-icon" width="30" height="30">
                                      <use href="./img/icons.svg#icon-arrow-right"></use>
                                  </svg>
                                      <li class="serv-item">Тривалість робіт від 30 хвилин</li>
                                      
                                      <svg class="mark-icon" width="30" height="30">
                                      <use href="./img/icons.svg#icon-arrow-right"></use>
                                  </svg>
                                      <li class="serv-item">Безкоштовна оцінка вартості робіт</li>
                              
                                  </ul>
                              
                              
                              </div>
                          </div>
  
                      <div class="service-image">
                              <picture>
                                  <source media="(max-width: 767.98px)"
                                      srcset="./img/services/serv2_mob.jpg. 1x, ./img/services/serv2_mob@2x.jpg 2x" width="343" height="418">
                                  <source media="(min-width: 768px)"
                                      srcset="./img/services/serv2_tab.jpg. 1x, ./img/services/serv2_tab@2x.jpg 2x" width="852" height="600">
                                  <source media="(min-width: 1158px)"
                                      srcset="./img/services/serv2_desk.jpg. 1x, ./img/services/serv2_desk@2x.jpg 2x" width="600" height="600">
                          
                                  <img class="portfolio-photo" src="./img/services/serv2_desk@2x.jpg" alt="Полірування Авто" width="360">
                              </picture>
                              <h3 class="services-title">Полірування Авто</h3>
                              <div class="service-overlay">
                              <ul>
                                  <li>
                                      <h3 class="serv-overlay-title">Захисне полірування авто</h3>
                                      <p class="serv-text">Проводиться для захисту лакофарбового покриття авто з метою його додаткового захисту від впливузовнішніх негативних
                                      факторів. Застосовуються поліролі, що не містять абразивних матеріалів. Рекомендується виконувати кілька разів на рік.</p>
                                  </li>
                                  <li>
                                      <h3 class="serv-overlay-title">Відновлювальне полірування авто</h3>
                                      <p class="serv-text">Виконується для усунення шкоди, завданої лакофарбувальному покриттю. Застосовуються поліролі на абразивній основі. По
                                      закінченню відновної обробки виконується захисне полірування.</p>
                                  </li>
                              </ul>
                              </div>
  
                  </ul>
  
              </div>
  
          </section>