        <!--Study section-->
        <section class="study-section">

            <div class="container">

                <picture>
                    <source media="(max-width: 767.98px)"
                        srcset="./img/study/course_mob.jpg 1x, ./img/study/course_mob@2x.jpg 2x" width="343" height="418">
                    <source media="(min-width: 768px)"
                        srcset="./img/study/course_tab.jpg 1x, ./img/study/course_tab@2x.jpg 2x" width="470" height="800">
                    <source media="(min-width: 1158px)"
                        srcset="./img/study/course_desk.jpg 1x, ./img/study/course_desk@2x.jpg 2x" width="622"
                        height="628">
                
                    <img class="portfolio-photo" src="./img/study/course_desk@2x.jpg" alt="Фото майстра Кучер Євгенія" width="360">
                </picture>

                <div>
                    <p>Авторський курс навчаннявидаленню вм'ятин “PDR Expert”.</p>
                        <p>До курсу входить:</p>
                        <ul>
                            <li>Робота крючками</li>
                            <li>Клейова система</li>
                            <li>Робота Молотками</li>
                            <li>Робота зі світлом та напівсферою</li>

                        </ul>

                        <button type="button">Детальніше</button>
                </div>

            </div>

        </section>