
        <!--Technology PDR section-->
        <section class="technology-section container">

            <div class="technology-pic">
              <picture class="technology-pic">
                <source class="portfolio-photo" media="(max-width: 767.98px)"
                    srcset="./img/technologyPDR/tech_mob.jpg 1x, ./img/technologyPDR/tech_mob@2x.jpg 2x" width="342" height="446">
                <source class="portfolio-photo" media="(min-width: 768px)"
                    srcset="./img/technologyPDR/tech_tab.jpg 1x, ./img/technologyPDR/tech_tab@2x.jpg 2x" width="470" height="800">
                <source class="portfolio-photo" media="(min-width: 1158px)"
                    srcset="./img/technologyPDR/tech_desk.jpg 1x, ./img/technologyPDR/tech_desk@2x.jpg 2x" width="662" height="770">
        
                <img class="portfolio-photo" src="./img/services/serv1_desk@2x.jpg" alt="Видалення вмятин без пофарбування" width="360">
            </picture>
            </div>

            <div class="technology-text">
        <p><span class="tech-span">Технологія PDR</span> - це сучасний та комплексний підхід до виправлення дефектів кузова, спричиненого різними чинниками.</p>
  
      <div>
        <h3 class="tech-title">Основні причини вм'ятин:</h3>

        <ul class="services-list">
            <li>Погодні умови (град, сніг)</li>
            <li>Падіння з дерев різних плодів (горіхи, каштани, жолуді, яблука тощо)</li>
            <li>Різноманітні викиди з поверхонь доріг щебеню, гравію та інших дрібних твердих предметів</li>
            <li>Невдале паркування</li>
            <li>Автомобільна аварія (ДТП)</li>
        </ul>

      </div>
        <p>Завдяки технології PDR та спеціальному інструменту, ми можемо видалити вм'ятини різної складності на кузові автомобіля без фарбування деталей за умови, що на автомобілі не постраждало лако фарбувальне покриття.</p>
      </div>

        </section>
