        <!-- Why us section-->
        <section class="advantage-section section">
            
            <h2 class="section-title">Чому ми?</h2>
  
              <div class="container">
              
                  <ul class="advantage-list">
                      <li class="advantage-block">
                              <svg class="advantage-icon" width="86" height="86">
                                  <use href="./img/icons.svg#icon-man"></use>
                              </svg>
                          <button class="advantage-button" type="button" data-modal-open>Безкоштовна оцінка вартості послуг PDR</button>
                      </li>
                      <li class="advantage-block">
                              <svg class="advantage-icon" width="86" height="86">
                                  <use href="./img/icons.svg#icon-note"></use>
                              </svg>
                          <button class="advantage-button" type="button" data-modal-open>Сертифіковані майстри з досвідом 10+ років</button>
                      </li>
                      <li class="advantage-block">
                              <svg class="advantage-icon" width="86" height="86">
                                  <use href="./img/icons.svg#icon-instruments"></use>
                              </svg>
                          <button class="advantage-button" type="button" data-modal-open>Професійне обладнання та матеріали</button>
                      </li>
                      <li class="advantage-block">
                              <svg class="advantage-icon" width="86" height="86">
                                  <use href="./img/icons.svg#icon-calendar"></use>
                              </svg>
                          <button class="advantage-button" type="button" data-modal-open>Чіткі терміни на виконання робіт</button>
                      </li>
                  </ul>
              
              
              </div>
          </section>