.header {
  padding: 16px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.logo-wrapper {
  max-height: 54px;
  position: relative;
}

.mob-menu-icon {
  position: absolute;
}

.burger-menu-btn {
  display: block;
}

.burger-menu-btn button {
  /* background-color: transparent; */
  display: block;
  border: none;
  cursor: pointer;
  /* padding: 5px; */

  width: 38px; /* Змініть розмір іконки за потребою */
  height: 38px;
}

.burger-menu-btn .icon {
  /* Стилі для іконки */
  width: 38px; /* Змініть розмір іконки за потребою */
  height: 38px;
  fill: var(--c-primary-light); /* Змініть колір за потребою */
}