:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  /* 
    color: #242424;
    background-color: rgba(255, 255, 255, 0.87); */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    --c-primary: #17181C;
    --c-secondary: #222327;
    --c-white: #FFFFFF;
    --c-primary-light: #E5E4E4;
    --f-family: 'Montserrat';
    --c-text: #EBEBEB;
    --c-accent-pr: #BE7D00;
    --c-accent-hover: #F99703;
    --c-accent-focus: #D07305;
  }
  
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }
  
  a {
      text-decoration: none;
  }
  
  ul {
      list-style-type: none;
  }
  
  p,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin: 0;
      color: var(--c-primary-light);
  }
  
  ul {
      padding: 0;
  }
  
  img {
      display: block;
      width: 100%;
      height: auto;
  }
  
  body {
      background-color: var(--c-primary);
  }
  
  .container {
  /* margin-bottom: 50px; */
  
  margin: 0 16px 50px;
  }
  
  .section-title {
    padding-bottom: 14px;
    padding: 13px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--Accent-color, #BE7D00);
  background: linear-gradient(90deg, rgba(35, 35, 35, 0.54) 1.13%, rgba(9, 10, 13, 0.64) 99.9%);
  }
  
  /* Hero section */
  
  .hero-section {
      min-width: 320px;
      margin: 0 auto;
      position: relative;
      /* background-repeat: no-repeat;
      background-position: center; */
      background-size: cover;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      /* background: var(--c-secondary) linear-gradient(282deg, rgba(30, 26, 26, 0.28) 6.78%, rgba(30, 26, 26, 0.28) 36.13%, rgba(30, 26, 26, 0.15) 88.91%), url('../img/hero-image/hero_desk@2x.jpg'); */
      object-fit: cover;
      object-position: center;
      background-size: cover;
  padding-top: 108px;
  padding-bottom: 108px;
  
  }
  
  
  
  .hero-inner {
  max-width: 375px;
  padding: 72px 16px;
  /* margin: 8px 16px; */
  /* padding-top: 108px; */
  position: relative;
  z-index: 1;
  margin: auto;
  border-radius: 40px;
  background: linear-gradient(118deg, rgba(23, 24, 28, 0.80) 5.07%, rgba(7, 7, 9, 0.80) 100%);
  
  box-shadow: -16px 14px 6px 0px rgba(0, 0, 0, 0.25);
  }
  
  .hero-title {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 36px;
    text-transform: uppercase;
  }
  
  .hero-text {
    max-width: 317px;
  }
  
  .button-primary {
    margin-top: 40px;
    padding: 12px 24px;
  
    border-radius: 40px;
    /* background: linear-gradient(118deg, rgba(23, 24, 28, 0.80) 5.07%, rgba(7, 7, 9, 0.80) 100%); */
    background-color: var(--c-accent-pr);
    box-shadow: -16px 14px 6px 0px rgba(0, 0, 0, 0.25);
    color: var(--c-primary-light);
  }
  
  @media screen and (min-width: 375px) and (max-width: 1023.98px) and (min-resolution: 96dpi) {
      .hero-section {
          background: linear-gradient(282deg, rgba(30, 26, 26, 0.28) 6.78%, rgba(30, 26, 26, 0.28) 36.13%, rgba(30, 26, 26, 0.15) 88.91%), url('../img/hero-image/hero_mob.jpg');
          /* max-height: 432px; */
          background-size: cover;
      }
  }
  
  @media screen and (min-width: 375px) and (max-width: 1023.98px) and (min-resolution: 192dpi) {
      .hero-section {
          background: linear-gradient(282deg, rgba(30, 26, 26, 0.28) 6.78%, rgba(30, 26, 26, 0.28) 36.13%, rgba(30, 26, 26, 0.15) 88.91%), url('../img/hero-image/hero_mob@2x.jpg');
          /* max-height: 432px; */
          /* height: 726px; */
          background-size: cover;
      }
  
  
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1439.98px) and (min-resolution: 96dpi) {
      .hero-section {
          background: linear-gradient(282deg, rgba(30, 26, 26, 0.28) 6.78%, rgba(30, 26, 26, 0.28) 36.13%, rgba(30, 26, 26, 0.15) 88.91%), url('../img/hero-image/hero_tab.jpg');
          background-position: bottom;
          max-height: 436px;
          background-size: cover;
      }
  
  }
  
  
  @media screen and (min-width: 1024px) and (max-width: 1439.98px) and (min-resolution: 192dpi) {
      .hero-section {
          background: linear-gradient(282deg, rgba(30, 26, 26, 0.28) 6.78%, rgba(30, 26, 26, 0.28) 36.13%, rgba(30, 26, 26, 0.15) 88.91%), url('../img/hero-image/hero_tab@2x.jpg');
          background-position: bottom;
          max-height: 436px;
          background-size: cover;
      }
  
  }
  
  @media screen and (min-width: 1440px) and (min-resolution: 96dpi) {
      .hero-section {
          background: linear-gradient(282deg, rgba(30, 26, 26, 0.28) 6.78%, rgba(30, 26, 26, 0.28) 36.13%, rgba(30, 26, 26, 0.15) 88.91%), url('../img/hero-image/hero_desk.jpg');
          max-width: 1440px;
          min-height: 600px;
          background-size: cover;
      }
  
  }
  
  @media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
      .hero-section {
          background: linear-gradient(282deg, rgba(30, 26, 26, 0.28) 6.78%, rgba(30, 26, 26, 0.28) 36.13%, rgba(30, 26, 26, 0.15) 88.91%), url('../img/hero-image/hero_desk@2x.jpg');
          min-height: 600px;
          max-width: 1440px;
          background-size: cover;
      }
  
  }
  
  
  /* Why us section */
  
  
  
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 50px;
  }
  
  .advantage-block {
  max-width: 343px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  border-radius: 40px;
  background: linear-gradient(180deg, #2A2A30 0.13%, rgba(42, 43, 48, 0.28) 99.87%);
  
  box-shadow: -16px 10px 6px 0px rgba(0, 0, 0, 0.25);
  
  }
  
  .advantage-icon {
    /* fill: linear-gradient(90deg, #B88603 0%, #EE4B17 93.34%); */
    fill: var(--c-accent-pr);
  }
  
  .advantage-button {
    border-radius: 20px;
    background: linear-gradient(180deg, #D78F04 0%, #A06204 100%);
    box-shadow: -16px 14px 6px 0px rgba(0, 0, 0, 0.25);
    color: var(--c-primary-light);
  
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.14px;
    text-transform: uppercase;
  
    max-width: 232px;
  
  }
  
  /* Technology section*/
  
  .technology-section {
      /* min-width: 320px;
      margin: 0 auto;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      background-color: var(--c-secondary);
      text-align: center;
      background: linear-gradient(68deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 96.93%) url('../img/technologyPDR/tech_desk.jpg');
      list-style: none;
      object-fit: cover;
      object-position: center; */
  }
  
  
  
  .portfolio-photo {
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
    background: linear-gradient(97deg, #171718 -6.3%, rgba(33, 33, 33, 0.46) 105.6%);
  }
  
  
  /* Technology PDR section */
  
  .technology-text {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 20px;
  
    color: --c-primary-light;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
    
  }
  
  .tech-title {
    font-size: 14px;
    padding-bottom: 10px;
  }
  
  .tech-span {
    font-weight: 600;
  }
  
  .services-list {
    list-style-type: disc;
    padding-left: 16px;
  }
  
  .services-title {
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    border-bottom: 2px solid var(--text, #E5E4E4);
    box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.25);
  
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
  text-transform: uppercase;
  
  margin: 16px 8px;
  }
  
  
  
  
  
  .service-overlay.show {
    display: block;
  }
  
  .serv-overlay-title {
  color: #BE7D00;
  
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.24px;
  }
  
  .serv-overlay-list {
    color: #FFF;
  
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
  
  position: relative;
  }
  
  .mark-icon {
    position: absolute;
    fill: var(--c-accent-pr);
    transform: rotate(90deg) skew(20deg, 20deg);
  }
  
  .serv-item {
    margin-left: 36px;
  }
  
  .serv-text {
    color: #FFF;
  
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  
  }
  
  /* .service-image {
    position: relative;
  } */
  
  .portfolio-photo {
    margin-top: 16px;
    margin-bottom: 16px;
  position: relative;
  }
  
  .service-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Робить текст повністю на ширину картинки */
    background-color: rgba(0, 0, 0, 0.7); /* Наприклад, чорний фон */
    color: white; /* Колір тексту */
    padding: 20px; /* Відступи для тексту */
    box-sizing: border-box;
  
    
  }
  
  
  
  
  
  
  
  
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }